<% provide(:title, 'Home') %>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="#"><img src=../../assets/images/templogo.png alt="App Name"></a></h1>
			</div>
			<div id="menu">
				<form id="logininfo">
					<p>Username:<input type="text" name="username"> Password:<input type="password" name="password"> <input type="submit" value="Login"><br>Sign in or Register</p>
				</form>
			</div>
		</div>
	</div><!-- End Header-->

	<div id="page">
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">Application Name </a></h2>
				<div class="entry">
					<p>This is <strong>Application Name</strong>, a free, new RSS reader that brings all of your feeds together in one compiled list. You can sort your articles chronologically, unread first, alphabetically or by individual feed. You can even share your articles to Facebook, Twitter and more! The amount of articles you can read are limited only by your individual feeds! You can start by signing up or searching for an indivuidual feed or another user's feed.</p>
					<form id="search">
						Search for individual or user feed<input type="text" id="searchterms"><input type="submit" value="Search">
					</form>
					
				</div>
			</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
			
			<h2>Popular Searches</h2>
			<p><a href="searchresults.html">Politics</a></p>
			<p><a href="searchresults.html">Medicine</a></p>
			<p><a href="searchresults.html">World News</a></p>
			<p><a href="searchresults.html">Technology</a></p>
			<p><a href="searchresults.html">Entertainment</a></p>		
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
		<div style="clear: both;">&nbsp;</div>
	<!-- end #page --> 
	
</div>
<div id="footer">
	<p>Copyright (c) 2013 Sitename.com. All rights reserved.</p>
</div>
<!-- end #footer -->

<script src="jquery-2.0.0.js"></script>
