<div id="wrapper">
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="#"><img src=images/templogo.png alt="App Name"></a></h1>
			</div>
			<div id="menu">
				
			</div>
		</div>
	</div><!-- End Header-->

	<div id="page">
		<form id="usersearch">
			<p><input type="text" value="Search for individual or user feed" id="searchterms"><input type="submit" value="Search"></p>
		</form>
		<div id="feed-content-wrapper">
			<div id="feed-bg">
				<div class="feed-content">
					<div id="column1">
						<h2 class="title">Article Title</h2>
						<div class="fbox1">
							<p>This is an example of the article stream. Here you can preview different articles chronoglogically, alphabetically, by unread first (chronological priorty can be set as well), all with a short paragraph preview. You'll be able to see as many articles as you'd like, all on one page!</p>
						</div>
						<br>
						<h2 class="title">Another Article</h2>
						<div class="fbox1">
							<p>The next article preview will show up next to the first, then below the first and the process will repeat. You can have a stream of articles that's only limited by the specific feeds you are subscribed to. You'll be able to to directly to the article on the website as well.</p>
						</div>
						<br>
						<h2 class="title">Another Article</h2>
						<div class="fbox1">
							<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
						</div>

					</div>
						
					<div id="column2">
						<h2 class="title">Article Title</h2>
						<div class="fbox2">
							<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,  sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,  sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
						</div>
						<br>
						<h2 class="title">Article Title</h2>
						<div class="fbox2">
							<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end #content -->
		<div id="user-sidebar">

			<div id="usertools">
				<img src=images/userImg.jpg alt="">
				<p>akmindt</p>
			</div>
			
			<div id="logout">
				<a href="index.html">Logout</a>
			</div>
			<br><br>
			<div id="userfeeds">
				<p>Feeds:</p>
				<p>The New York Times</p>
				<p>Major League Hockey</p>
				<p>IGN Entertainment</p>
				<p>Climbing Magazine</p>
			</div>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page --> 
	
</div>
<div id="footer">
	<p>Copyright (c) 2013 Sitename.com. All rights reserved.</p>
</div>
<!-- end #footer -->
<script src="jquery-2.0.0.js"></script>