<%= form_for(@feed_subscription) do |f| %>
  <% if @feed_subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feed_subscription.errors.count, "error") %> prohibited this feed_subscription from being saved:</h2>

      <ul>
      <% @feed_subscription.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
